* {
    margin: 0;
    padding: 0;
}

a{
    color: #F46883;
}

html, body{
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    display: flex;
    background-color: rgb(18, 18, 19);
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 95%;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(58, 58, 60);
}

#help,
#info,
#stats {
    color: rgb(58, 58, 60);
    font-size: 1.5rem;
    cursor: pointer;
}

#info{
    padding : 10px;
}

.title {
    color: gainsboro;
    font-size: 2.5 rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow-y: scroll hidden;
    overflow-x: hidden;
    padding-left: 6px;
}

#board{
    max-width: 1200px;
    display: grid;
    /*--grid-column-count: 4;*/
    /*grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );*/
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 90%;
    max-height: 580px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#guessing-color-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding: 100px;
    /*margin-bottom: 20px;*/
}

#guessing-color{
    border: 2px solid rgb(58, 58, 60);
    background-color: rgb(129, 131, 132);
    min-height: 60px;
    margin: 10px;
}

.square{
    border: 2px solid rgb(58, 58, 60);
    width: 100%;
    min-height: 54px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-shadow: 1px 1px 2px rgb(58, 58, 60);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution{
    border: 2px solid rgb(58, 58, 60);
    min-height: 50px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-shadow: 1px 1px 2px rgb(58, 58, 60);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer-solution{
    min-height: 10px;
}

.precision{
    color: gainsboro;
    /*border: 2px solid rgb(58, 58, 60);*/
    /*min-width: 80px;*/
    min-height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    max-height: 200px;
    padding-bottom: 10px;
    /*padding-right: 100px;*/
    position: relative;
    transform: translateX(-11%);
}

/*#board-keyboard{
    
}*/
  
.keyboard-row {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    height : 100%;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 50px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}
  
.spacer-half {
    flex-grow: 0.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    background-color: rgb(18, 18, 19);
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    color: gainsboro;
    max-width: 500px;
    overflow-y: scroll hidden;
    overflow-x: hidden;
}
  
.modal-content hr {
    border: 1px solid rgb(58, 58, 60);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
#examples {
    width: 80%;
}
  
.hidden {
    display: none;
}

/*#datasets-example-1 .column {
    height: 300px;
    max-width: 800px;
}

#datasets-example-1 .legend {
    margin-block-start: 1rem;
    justify-content: center;
}*/


.chart > li {
    grid-column-end: 0;
    display: flex;
    justify-content: space-between;
    padding: 0.10rem 0rem;
    background: #F46883; /* Or your color */
    grid-column-start: 1;
}

.chart {
    display: flex;
    display: grid;
    grid-template-columns: auto; /* The default, but best to be explicit */
    grid-auto-columns: 1fr;
}

.column {
    float: left;
    padding: 10px;
}
  
.left {
    width: 3%;
}
  
.right {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#labels{
    padding-top: 20px;
    font-size: small;
    max-width: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 63px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#label{
    display: flex;
    justify-content: right;
}

